<ion-content id="conteudo">
  <img src="./img/FitnessIDGestor.png" id="logomarca" />
  <form (ngSubmit)="entrar()">
    <ion-list>
      <ion-item>
        <ion-label class="item-login" floating>Usuário</ion-label>
        <ion-input type="text" name="usuario" required [(ngModel)]="usuario" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="item-login" floating>Senha</ion-label>
        <ion-input type="password" name="senha" required [(ngModel)]="senha" value=""></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button color="branco" outline block icon-right>Entrar <ion-icon right name="ios-arrow-forward"></ion-icon></button>
    </div>
  </form>
</ion-content>
