#conteudo{
    background: url("../img/background.jpg") repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

form{
  margin: 10% auto;
}

.item-login{
  color: #EEE !important;
}

#logomarca{
  width: 70%;
  margin: 40% 15% 0 15%;
}

.list-md .item-input:last-child{
  border: none;
}

.list-md .item-block .item-inner{
  border-bottom: 1px solid #dedede;
}
