<!-- <ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs> -->

<ion-tabs tabsPlacement="top" tabsHighlight="true" color="verde-escuro">
  <ion-tab [root]="Financeiro" tabTitle="Financeiro" tabIcon="logo-usd"></ion-tab>
  <ion-tab [root]="Alunos" tabTitle="Alunos" tabIcon="md-people"></ion-tab>
  <ion-tab [root]="Previsao" tabTitle="Previsão" tabIcon="md-cash"></ion-tab>
</ion-tabs>
