<ion-header>
  <ion-navbar color="verde-escuro">
    <ion-title>
      Financeiro
    </ion-title>
  </ion-navbar>
</ion-header>
  <ion-content>
    <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab bottom left>
      <button ion-fab color="primary" mini><ion-icon name="md-more"></ion-icon></button>
      <ion-fab-list side="right">
        <button ion-fab (click)="logout()"><ion-icon name="log-out"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
    <button ion-button block clear center color="primary" (click)="filtrar()"><b>Filtrar</b></button>
    <ion-card (click)="saldo_dia()">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="primary"><ion-icon name="logo-usd"></ion-icon> Saldo Financeiro</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Do dia</ion-note></span>
        </ion-row>

      </ion-card-header>
      <ion-card-content>

      <button style="margin-top:0px;font-size:40px;" ion-button block clear center color="primary">R$ {{dados.saldo_financeiro_dia}}</button>

      </ion-card-content>
    </ion-card>
    <ion-card (click)="saldo_mes()">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="primary"><ion-icon name="logo-usd"></ion-icon> Saldo Financeiro</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Do mês</ion-note></span>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <button style="margin-top:0px;font-size:40px;" ion-button block clear center color="balanced">R$ {{dados.saldo_financeiro_mes}}</button>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="secondary"><ion-icon name="logo-usd"></ion-icon> Contas a receber</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Do dia</ion-note></span>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <button style="margin-top:0px;font-size:40px;" ion-button block clear center color="secondary">R$ {{dados.contas_a_receber}}</button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="danger"><ion-icon name="logo-usd"></ion-icon> Contas a pagar</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Total</ion-note></span>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <button style="margin-top:0px;font-size:40px;" ion-button block clear center color="danger">R$ {{dados.contas_a_pagar}}</button>
      </ion-card-content>
    </ion-card> -->
  </ion-content>
