// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-card-header{
  border-bottom: 1px solid #DDD;
  padding: 5px !important;
  margin-bottom: 5px !important;
}

ion-card-content{
  padding: 20px 0 20px 0 !important;
}

ion-icon{
  font-size: 3rem;
}

ion-card{
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12) !important;
}

ion-content{
  background-color: #e9ebee !important;
  padding-bottom: 30px !important;
}

ion-item{
  background-color: inherit !important;
}

ion-label{
  // color: #FFF !important;
  font-weight: bold;
}

b{
  font-weight: bold;
}
