<ion-header>
  <ion-navbar color="verde-escuro">
    <ion-title>
      Previsão
    </ion-title>
  </ion-navbar>
</ion-header>
  <ion-content>
    <ion-fab bottom left>
      <button ion-fab color="primary" mini><ion-icon name="md-more"></ion-icon></button>
      <ion-fab-list side="right">
        <button ion-fab (click)="logout()"><ion-icon name="log-out"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
    <p text-center><ion-note>Os dados mostrados são uma <strong>previsão</strong></ion-note></p>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="secondary"><ion-icon name="logo-usd"></ion-icon> Saldo</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Do mês</ion-note></span>
        </ion-row>

      </ion-card-header>
      <ion-card-content>
        <button style="margin-top:0px;font-size:40px;" ion-button block clear center color="secondary">R$ 80.00</button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="royal"><ion-icon name="logo-usd"></ion-icon> Contas a Receber</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Total</ion-note></span>
        </ion-row>

      </ion-card-header>
      <ion-card-content>
        <button style="margin-top:0px;font-size:40px;" block ion-button clear center color="royal">R$ 2037.00</button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="danger"><ion-icon name="logo-usd"></ion-icon> Contas a Pagar</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Total</ion-note></span>
        </ion-row>

      </ion-card-header>
      <ion-card-content>
          <button style="margin-top:0px;font-size:40px;" block ion-button clear center color="danger">R$ 800.00</button>
      </ion-card-content>
    </ion-card>
  </ion-content>
