<ion-header>
  <ion-navbar color="verde-escuro">
    <ion-title>
      {{data.titulo}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header class="header_saldo">
      Presenças
    </ion-list-header>
    <ion-item class="item_saldo" *ngFor="let item of data.alunos">
      <p>{{item.nome}}</p>
    </ion-item>
  </ion-list>
</ion-content>
