<ion-header>
  <ion-navbar color="verde-escuro">
    <ion-title>
      Filtro
    </ion-title>
  </ion-navbar>
</ion-header>
  <ion-content>
    <ion-fab bottom left>
      <button ion-fab color="primary" mini><ion-icon name="md-more"></ion-icon></button>
      <ion-fab-list side="right">
        <button ion-fab (click)="logout()"><ion-icon name="log-out"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
    <ion-list>

      <ion-item>
        <ion-label stacked>Data Inicial</ion-label>
        <ion-datetime required displayFormat="DD/MM/YYYY" [(ngModel)]="data_inicial" cancelText="Cancelar" doneText="Pronto"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label stacked>Data Final</ion-label>
        <ion-datetime required displayFormat="DD/MM/YYYY" [(ngModel)]="data_final" cancelText="Cancelar" doneText="Pronto"></ion-datetime>
      </ion-item>

      <button ion-button block color="primary" (click)="filtrar()" name="button">Filtrar</button>

    </ion-list>

    <ion-card *ngIf="dados.saldo == 's'">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="primary"><ion-icon name="logo-usd"></ion-icon> Saldo</h2>
          </ion-col>
        </ion-row>

      </ion-card-header>
      <ion-card-content>

      <ion-row>
        <ion-col center text-center>
          <button style="margin-top:0px;font-size:40px;" ion-button clear center color="secondary">R$ {{dados.total_saldo}}</button>
        </ion-col>
      </ion-row>

      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="dados.faturamento == 's'">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="secondary"><ion-icon name="logo-usd"></ion-icon> Faturamento</h2>
          </ion-col>
        </ion-row>

      </ion-card-header>
      <ion-card-content>

      <ion-row>
        <ion-col center text-center>
          <button style="margin-top:0px;font-size:40px;" ion-button clear center color="secondary">R$ {{dados.total_faturamento}}</button>
        </ion-col>
      </ion-row>

      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="dados.gastos == 's'">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="danger"><ion-icon name="logo-usd"></ion-icon> Gastos</h2>
          </ion-col>
        </ion-row>

      </ion-card-header>
      <ion-card-content>

      <ion-row>
        <ion-col center text-center>
          <button style="margin-top:0px;font-size:40px;" ion-button clear center color="danger">R$ {{dados.total_gastos}}</button>
        </ion-col>
      </ion-row>

      </ion-card-content>
    </ion-card>
  </ion-content>
