<ion-header>
  <ion-navbar color="verde-escuro">
    <ion-title>
      Alunos
    </ion-title>
  </ion-navbar>
</ion-header>
  <ion-content>
    <ion-fab bottom left>
      <button ion-fab color="primary" mini><ion-icon name="md-more"></ion-icon></button>
      <ion-fab-list side="right">
        <button ion-fab (click)="logout()"><ion-icon name="log-out"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
    <ion-card (click)="presencas_dia()">
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="primary"><ion-icon name="md-people"></ion-icon> Presenças</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Do dia</ion-note></span>
        </ion-row>

      </ion-card-header>
      <ion-card-content>

      <ion-row>
        <ion-col center text-center>
          <button style="margin-top:0px;font-size:40px;" ion-button clear center color="primary">{{dados.total_alunos_dia}}</button>
        </ion-col>
      </ion-row>

      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="secondary"><ion-icon name="md-people"></ion-icon> Alunos Ativos</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Total</ion-note></span>
        </ion-row>

      </ion-card-header>
      <ion-card-content>

      <ion-row>
        <ion-col center text-center>
          <button style="margin-top:0px;font-size:40px;" ion-button clear center color="secondary">{{dados.total_alunos_ativos}}</button>
        </ion-col>
      </ion-row>

      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col>
            <h2 color="danger"><ion-icon name="md-people"></ion-icon> Alunos Inativos</h2>
          </ion-col>
          <span text-right style="padding-top: 2px;"><ion-note>Total</ion-note></span>
        </ion-row>

      </ion-card-header>
      <ion-card-content>

      <ion-row>
        <ion-col center text-center>
          <button style="margin-top:0px;font-size:40px;" ion-button clear center color="danger">{{dados.total_alunos_inativos}}</button>
        </ion-col>
      </ion-row>

      </ion-card-content>
    </ion-card>
  </ion-content>
