<ion-header>
  <ion-navbar color="verde-escuro">
    <ion-title>
      {{data.titulo}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header class="header_saldo">
      Entrada
    </ion-list-header>
    <ion-item class="item_saldo" *ngFor="let item of data.recebimentos">
      <h3>{{item.titulo}}</h3>
      <h3>R$ {{item.valor}} x {{item.quantidade}} = R$ {{item.valor * item.quantidade}}</h3>
      <p>Vencimento: {{item.datarecebimento}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header class="header_saldo">
      Saída
    </ion-list-header>
    <ion-item class="item_saldo" *ngFor="let item of data.pagamentos">
      <h3>{{item.titulo}}</h3>
      <h3>R$ {{item.valor}} x {{item.quantidade}} = R$ {{item.valor * item.quantidade}}</h3>
      <p>Vencimento: {{item.datavencimento}}</p>
    </ion-item>
  </ion-list>
</ion-content>
